<nav class="text-xs space-y-3 text-right">
  <a href="#" class="block hover:underline">DOWNLOAD RESUME</a>
  <a href="https://www.instagram.com/claaudvs/" target="_blank" rel="noopener noreferrer" class="block hover:underline">@claaudvs</a>
  <a href="/about" class="block hover:underline">About me</a>
  <a href="/portfolio" class="block hover:underline">Portfolio</a>
  <a href="/skills" class="block hover:underline">Skills</a>
</nav>
