---

---

<div>
  <div class="flex items-center gap-2 text-xs tracking-widest uppercase">
    <span>Skills</span><span>↘</span>
  </div>
  <ul class="mt-4 space-y-2 text-sm">
      <li class="flex gap-4">
        <span class="w-8 tabular-nums">{'0001'}</span>
        <a href={"#"} class="hover:underline">
            Astro
        </a>
      </li>
      <li class="flex gap-4">
        <span class="w-8 tabular-nums">{'0002'}</span>
        <a href={"#"} class="hover:underline">
            Angular
        </a>
      </li>
      <li class="flex gap-4">
        <span class="w-8 tabular-nums">{'0003'}</span>
        <a href={"#"} class="hover:underline">
            React
        </a>
      </li>
      <li class="flex gap-4">
        <span class="w-8 tabular-nums">{'0004'}</span>
        <a href={"#"} class="hover:underline">
            Nextjs
        </a>
      </li>
      
  </ul>
</div>