---
interface Props {
    id: string;
    src: string;
    alt?: string;
}
const { id, src, alt = "project" } = Astro.props as Props;
---
<a href={`/portfolio/${id}`} class="group block overflow-hidden">
  <img src={src} alt={alt}
    class="h-28 lg:h-32 w-full object-cover grayscale group-hover:grayscale-0 transition" loading="lazy" />
</a>
