<nav class="text-xs space-y-3 text-right">
  <a href="#" class="block hover:underline">DOWNLOAD RESUME</a>
  <a href="#" class="block hover:underline">@Claaudvs</a>
  <a href="/about" class="block hover:underline">ABOUT</a>
</nav>
