---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<div class="bg-amber-600">
		<h1>Portfolio Claudio</h1>
	</div>
</div>


